.contact {
   padding: 50px 0;
}

.contact__form {
   margin-top: 88px;
   display: flex;
   gap: 2.25%;
}

.inputs-wrapper--flexg_gap {
   width: 100%;
   gap: 50px;
}

.message {
   display: flex;
   flex-direction: column-reverse;
   width: 100%;
   font-family: 'Open Sans', 'sans-serif';
   color: #bdbdbd;
   padding-bottom: 2px;
}

.message__label {
   font-size: 14px;
}

.message__area {
   display: block;
   border: none;
   border-bottom: 1px solid #bdbdbd;
   outline: none;
   transition: all 0.3s;
   font-family: 'Open Sans', 'sans-serif';
   font-size: 14px;
   line-height: 16px;
   resize: none;
   flex-grow: 1;
}

.contact__button {
   display: block;
   background: #ec7979;
   width: 370px;
   border: 0px;
   margin: 0 auto;
   margin-top: 50px;
}

.contact__button:hover {
   background-color: #ab4949;
}

.message__area:focus {
   border-bottom: 1px solid #ec7979;
}

.message__area:focus ~ .message__label {
   color: #ec7979;
}

@media screen and (max-width: 1025px) {
   .contact__button {
      width: 318px;
   }
}
@media screen and (max-width: 495px) {
   .contact__form {
      flex-direction: column;
   }

   .message {
      height: 288px;
      margin-top: 50px;
   }
}
