* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 18px;
}
.container {
   max-width: 1202px;
   padding: 0 16px;
   margin: 0 auto;
}
.none {
   display: none;
}
ul {
   list-style: none;
}
body {
   font-family: 'Raleway', 'sans-serif';
}
h3,
h4 {
   font-family: 'Open sans', sans-serif;
}
h4 {
   font-size: 24px;
}
