footer {
   background-color: #000;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 35px 0 27px;
   gap: 27.8px;
}
.social-links--gap {
   gap: 32.8px;
}
.social-link__img--size {
   width: 53.2px;
   height: 53.2px;
}
.footer__year {
   font-weight: 400;
   color: rgba(255, 255, 255, 0.5);
}
