header {
   z-index: 0;
   position: relative;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../imgs/header/banner-background.jpg);
   background-size: 100% 1026px;
   background-repeat: no-repeat;
   height: 1026px;
}

.header-top {
   background: #000000;
}
.header-top__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px calc(50% - 585px);
}
.header-top__logo {
   display: block;
   width: 88px;
   height: 32px;
}

.menu {
   display: flex;
}
.menu button {
   width: 114px;
   line-height: 75px;
   border: none;
   background-color: transparent;
   font-family: 'Open sans', sans-serif;
   color: #fff;
   text-transform: capitalize;
   font-size: 14px;
   font-weight: 600;
   transition: all 0.5s;
}

.menu button:hover {
   background: #ec7979;
   cursor: pointer;
}

.header-bottom {
   display: flex;
   gap: 30px;
   margin-top: 207px;
}

.axit {
   max-width: 57.26%;
}

.axit__logo {
   margin-top: 23px;
}

.axit__header {
   margin-top: 70px;
   text-transform: uppercase;
   font-size: 48px;
   font-weight: 500;
   color: #fff;
}

.axit__separator {
   width: 170px;
   background: #fff;
   height: 1px;
   max-height: 1px;
   margin-top: 52px;
   margin-bottom: 43px;
}

.axit__subheader {
   max-width: 270px;
   font-weight: 400;
   color: #fff;
}
.axit__button {
   width: 270px;
   background-color: transparent;
   border: 2px solid #fff;
   margin-top: 42px;
}

.axit__button:hover {
   color: #ec7979;
   border: 2px solid #ec7979;
}

.form {
   height: fit-content;
   background: #fff;
   border-radius: 10px;
   width: 40.17%;
}

.form-wrapper {
   padding: 0px 50px;
}

.form__button {
   font-size: 15px;
   width: 100%;
   display: block;
   background: #ec7979;
   border: 0px;
   margin-top: 75px;
   border-radius: 0 0 10px 10px;
}

.form__button:hover {
   background: #ab4949;
}

.form__header {
   line-height: 90px;
   text-transform: uppercase;
   color: #333;
   margin-bottom: 45px;
   text-align: center;
}
.form__header span {
   color: #ec7979;
   font-size: 24px;
}

.inputs-wrapper {
   display: flex;
   flex-direction: column;
   gap: 33px;
}

.inputs {
   display: flex;
   flex-direction: column-reverse;
   padding-bottom: 2px;
   cursor: pointer;
}

.inputs__input {
   display: block;
   border: none;
   border-bottom: 1px solid #bdbdbd;
   outline: none;
   transition: all 0.3s;
   font-family: 'Open Sans', 'sans-serif';
   font-size: 14px;
   line-height: 16px;
}

.inputs__input:focus {
   border-bottom: 1px solid #ec7979;
}

.inputs__label {
   font-size: 14px;
   transition: all 0.3s;
   font-family: 'Open Sans', 'sans-serif';
   color: #bdbdbd;
}
.inputs__input:focus ~ .inputs__label {
   color: #ec7979;
}

@media screen and (max-width: 1250px) {
   .header-bottom {
      margin: 207px 20px 0;
   }
}

@media screen and (max-width: 1160px) {
   .form__header,
   .form__header span {
      font-size: 18px;
   }
}

@media screen and (max-width: 1025px) {
   header {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
         url(../imgs/header/background-header-1024px.jpg);
      background-size: 100% 768px;
      height: 768px;
   }
   .header-top__content {
      padding: 0 20px 0 115px;
   }

   .header-bottom {
      margin: 0 20px 0 115px;
      margin-top: 137px;
      gap: 36px;
   }

   .axit {
      max-width: 454px;
   }
   .axit__logo {
      width: 115px;
      height: 41px;
   }

   .axit__header {
      margin-top: 37px;
      font-size: 36px;
   }

   .axit__separator {
      width: 115px;
      margin-top: 41px;
      margin-bottom: 31px;
   }

   .axit__subheader {
      max-width: 183px;
      font-size: 14px;
   }

   .axit__button {
      width: 183px;
      height: 50px;
      margin-top: 31px;
   }

   .form {
      width: 398px;
   }

   .form__header,
   .form__header span {
      font-size: 18px;
   }
}
