.pricing {
   background: #f5f5f5;
   padding: 50px 0;
}

.pricing__price-list {
   align-items: center;
   margin-top: 79px;
}

.price-list {
   display: flex;
   gap: 2.25%;
}
.price-list__item {
   border: 2px solid #f5f5f5;
   width: 100%;
   transition: all 0.3s;
}

.price-list__head {
   color: #fff;
   background: #333333;
   font-size: 24px;
   text-transform: capitalize;
   line-height: 60px;
   max-height: 60px;
}

.price-list__cost {
   color: #fff;
   font-size: 36px;
   background: #333333;
   line-height: 100px;
   max-height: 100px;
}

.price-list__item h5:nth-child(3) {
   background: #333333;
   color: #86878b;
   text-transform: none;
}

.price-list__item h5 {
   color: #86878b;
   text-transform: capitalize;
   background: #fff;
   font-weight: 400;
   padding: 15px 0 14px;
   max-height: 50px;
}

.price-list__item > * {
   transition: all 0.3s;
   text-align: center;
}

.price-list__item > *:not(h5:last-child) {
   border-bottom: 2px solid #f5f5f5;
}

.price-list__item:hover {
   cursor: pointer;
   border: 2px solid #ffffff;
   margin-top: -20px;
   box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}

@media screen and (max-width: 1025px) {
   /* .price-list {
      gap: 20px;
   } */

   .price-list__item:hover {
      margin-top: -17px;
   }
}
