.social {
   background: #f8efef;
}

.social__wrapper {
   display: flex;
   gap: 30px;
   align-items: center;
   padding: 13.5px 0 18px 0;
}

.social__header {
   display: flex;
   gap: 31.5px;
   flex-direction: column;
}
.social__header h5 {
   font-weight: 400;
   color: #86878b;
}

.social-links {
   display: flex;
   gap: 30px;
}

.social-link__img {
   display: block;
   height: 70px;
   width: 70px;
}

@media screen and (max-width: 1025px) {
   .social__wrapper {
      gap: 20px;
   }
   .social-link__img {
      height: 64px;
      width: 64px;
   }

   .social__header {
      font-size: 18px;
      gap: 23px;
   }

   .social__header h5 {
      font-size: 14px;
   }
}
