.stylish {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../imgs/stylish/stylish-backgr.jpg);
   background-size: 100% 442px;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 50px 0;
}

.general-header--col-fff,
.general-subheader--col-fff {
   color: #fff;
}

.border-col {
   border-color: #fff;
}

.stylish__button {
   width: 370px;
   background-color: transparent;
   border: 2px solid #fff;
   margin-top: 73px;
}

.stylish__button:hover {
   border: 2px solid #ec7979;
   color: #ec7979;
}
