.tabs {
   margin-top: 99px;
   margin-bottom: 50px;
}

.tabs-article {
   display: flex;
   justify-content: flex-end;
   border: 1px solid #c6cbcd;
   gap: 30px;
}

.tabs-article__section {
   max-width: 570px;
}

.tabs-article__head {
   font-size: 30px;
   font-weight: 700;
   margin: 42px 0 68px;
}

.tabs-article__description {
   font-weight: 400;
   margin-bottom: 27px;
}

.tabs-article__button {
   width: 270px;
   background-color: #ec7979;
   border: none;
}

.tabs-article__button:hover {
   background-color: #ab4949;
}

.tabs-article__img-wrapper {
   width: 470px;
   height: 500px;
}

.tabs__nav {
   display: flex;
}

.tabs__link {
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   color: #333;
   font-family: 'Open sans', 'sans-serif';
   font-size: 14px;
}

.tabs__link-wrap {
   max-width: 172px;
   width: 100%;
   text-align: center;
   line-height: 40px;
}

.tabs__link-wrap:first-of-type {
   position: relative;
   border: 1px solid #c6cbcd;
   border-bottom: 0px;
   border-radius: 5px 5px 0px 0px;
   margin-bottom: -1px;
   max-width: 203px;
}

.tabs__link-wrap:first-of-type::after {
   position: absolute;
   content: '';
   display: block;
   height: 5px;
   width: 100%;
   bottom: -2px;
   background-color: #ffffff;
}

@media screen and (max-width: 1120px) {
   .tabs-article {
      gap: 26px;
   }
   .tabs-article__head {
      font-size: 24px;
      font-weight: 700;
      margin: 28px 0 66px;
   }

   .tabs-article__description {
      font-size: 14px;
      margin-bottom: 14px;
      margin-bottom: 38px;
   }

   .tabs-article__button {
      width: 231px;
      background-color: #ec7979;
      border: none;
   }

   .tabs-article__img-wrapper {
      width: 398px;
      height: 385px;
   }
   .tabs-article__img-wrapper img {
      width: 100%;
      height: 100%;
   }
}

@media screen and (max-width: 1050px) {
   .tabs-article__section {
      max-width: 482px;
      margin-left: 16px;
   }
}

@media screen and (max-width: 1025px) {
   .tabs__link-wrap {
      max-width: 156px;
      width: 90%;
   }
   .tabs__link-wrap:first-of-type {
      max-width: 172px;
      width: 100%;
   }
}

@media screen and (max-width: 850px) {
   .tabs-article {
      flex-direction: column;
      width: fit-content;
      margin: 0 auto;
   }
   .tabs-article__img-wrapper {
      width: 100%;
   }

   .tabs-article__section {
      margin-left: 0;
      padding: 0 22px;
      text-align: center;
   }

   .tabs__nav {
      justify-content: center;
   }
}

@media screen and (max-width: 450px) {
   .tabs-article__img-wrapper {
      display: none;
   }

   .tabs-article__section {
      padding-bottom: 50px;
   }

   .tabs-article__head {
      font-size: 18px;
   }
   .tabs-article__description {
      font-size: 13px;
   }

   .tabs-article__button {
      max-width: 242px;
      width: 100%;
   }
}
