@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Raleway', 'sans-serif';
}
h3 {
   font-family: 'Open sans', sans-serif;
}
.tabs {
   width: fit-content;
   margin: calc((100vh - 542.4px) / 2) auto 0;
   height: 100vh;
}
.tabs__article {
   border: 1px solid #c6cbcd;
}

.tabs__article h3 {
   font-size: 30px;
   font-weight: 700;
   height: 124px;
   line-height: 124px;
   margin-bottom: 27px;
}

.tabs__article h5 {
   font-size: 18px;
   font-weight: 400;
   line-height: 21.13px;
   margin-bottom: 27px;
}

.tabs__article button {
   width: 270px;
   height: 58px;
   background-color: #ec7979;
   color: #ffffff;
   font-weight: 600;
   font-size: 18px;
   border: none;
   cursor: pointer;
}
.tabs__article section {
   display: inline-block;
   width: 570px;
   margin-left: 100px;
   margin-right: -1px;
}

.tabs__article img {
   margin-left: 25px;
   vertical-align: top;
}

.tabs nav div {
   display: inline-block;
   margin-right: -4px;
   text-align: center;
   line-height: 38px;
}

.tabs nav div a {
   text-decoration: none;
   text-transform: uppercase;
   color: #333;
   font-family: 'Open sans', 'sans-serif';
   font-weight: 400;
   font-size: 14px;
}

.tabs nav div:nth-child(1n + 2) {
   padding: 0 73px;
}

.tabs nav div:first-of-type {
   padding: 0 82.5px;
   border: 1px solid #c6cbcd;
   border-bottom-color: #ffffff;
   border-radius: 5px 5px 0px 0px;
   margin-bottom: -1px;
}

.about {
   margin-bottom: 58px;
}
.about_header {
   height: 150px;
   text-align: center;
   line-height: 150px;
   /* Это выравнивание по вертикали в заголовке */
   text-transform: uppercase;
   font-size: 36px;
   font-family: 'Raleway', 'sans-serif';
   font-weight: 400;
}
.about_separator {
   width: 170px;
   margin: auto;
   /* Выравнивает элемент внутри родителя по горизонтали по центру */
   border: 0.5px solid #ec7979;
   margin-bottom: 40px;
}
.about_subheader {
   text-align: center;
   font-size: 18px;
   font-weight: 400;
   color: #86878b;
   font-family: 'Raleway', 'sans-serif';
}

.about_article-wrapper {
   width: fit-content;
   margin: 0 auto;
   margin-top: 71px;
}

.about_article img {
   display: block;
   margin: auto;
}
.about_article {
   width: 370px;
   display: inline-block;
   /* Мы превратили блочный элемент в строчно-блочный */
   padding: 0 16px;
   font-family: 'Raleway', 'sans-serif';
}

.about_article + .about_article {
   margin-left: 27px;
}

.about_article_header {
   font-family: 'Open sans', sans-serif;
   height: 100px;
   font-size: 24px;
   text-align: center;
   line-height: 100px;
   /* line-height должна быть равна height */
   text-transform: capitalize;
   margin-bottom: 8px;
}
.about_article_paragraph {
   text-align: center;
   font-size: 17.9px;
}

.pricing {
   padding: 50px;
   background-color: #f5f5f5;
}
.pricing > section {
   width: fit-content;
   margin: 0 auto;
   margin-top: 79px;
   height: 530px;
}

.pricing section section {
   margin-right: -4px;
   vertical-align: bottom;
}
.pricing_header {
   height: 150px;
   text-align: center;
   line-height: 150px;
   /* Это выравнивание по вертикали в заголовке */
   text-transform: uppercase;
   font-size: 36px;
   font-weight: 400;
}

.pricing_separator {
   width: 170px;
   margin: auto;
   /* Выравнивает элемент внутри родителя по горизонтали по центру */
   border: 0.5px solid #ec7979;
   margin-bottom: 40px;
}

.pricing_subheader {
   text-align: center;
   font-size: 18px;
   font-weight: 400;
   color: #86878b;
}

.pricing section section {
   width: 370px;
   display: inline-block;
}

.pricing section section h4 {
   text-align: center;
   font-family: 'Open sans', 'sans-serif';
   font-size: 24px;
   background-color: #333;
   color: #fff;
   line-height: 60px;
   height: 60px;
   border: 2px solid #f5f5f5;
}

.pricing section section h3 {
   text-align: center;
   font-family: 'Raleway', 'sans-serif';
   font-size: 36px;
   background-color: #333;
   color: #fff;
   line-height: 100px;
   height: 100px;
   border: 2px solid #f5f5f5;
}

.pricing section section h5 {
   text-align: center;
   font-family: 'Raleway', 'sans-serif';
   font-size: 18px;
   color: #86878b;
   line-height: 50px;
   height: 50px;
   border: 2px solid #f5f5f5;
   background: #fff;
   font-weight: 400;
}

.pricing section section h5:first-of-type {
   background-color: #333;
}

.pricing section section:nth-of-type(2) {
   margin: 0 30px;
   margin-bottom: 20px;
}
